# .editorconfig -*- mode: conf -*-
# https://editorconfig.org/
# https://pinterest.github.io/ktlint/latest/rules/configuration-ktlint/
# https://spec.editorconfig.org/#supported-pairs
root = true

[*]
charset                   = utf-8
indent_style              = space
indent_size               = 4
spelling_language         = en
trim_trailing_whitespace  = true
insert_final_newline      = false

[*.{kt,kts}]
ktlint_code_style         = intellij_idea

ktlint_standard_no-multi-spaces         = disabled
ktlint_standard_parameter-list-spacing  = disabled
ktlint_standard_colon-spacing           = disabled
ktlint_standard_import-ordering         = disabled
ktlint_standard_no-unit-return          = disabled


[*.cs]
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options
tab-width                            = 4
end_of_line                          = crlf
csharp_new_line_before_open_brace    = none
csharp_new_line_before_else          = false
csharp_new_line_before_catch         = false
csharp_new_line_before_finally       = false
csharp_style_namespace_declarations  = file_scoped

[*.py]

[*.rs]

[*.el]

[*.lp]

[*.fs]

[*.{ex,exs}]

[*.gd]

[*.asl]

[*.jcm]

[*.pl]

[*.v]

[*.bash]

[*.scd]

[*.pu]

[*.opa]

[*.md]

[*.tex]

[*.bib]

[*.lua]

[*.{yml,yaml}]

[*.toml]

[Makefile]
indent_style = tab

[makefile]
indent_style = tab
