#  .envrc -*- mode: sh -*-
# See https://direnv.net/
# export VAR=VAL
# PATH_add val

PATH_add "$HOME/github/_templates/bash/utilities"

# venv location
if [[ -z "$READTHEDOCS" ]]; then
    export UV_PROJECT_ENVIRONMENT="$PWD/.temp/venv"
else
    # readthedocs uses its own location
    export UV_PROJECT_ENVIRONMENT="$READTHEDOCS_VIRTUALENV_PATH"
fi
if [[ -d "$UV_PROJECT_ENVIRONMENT" ]]; then
    source "$UV_PROJECT_ENVIRONMENT/bin/activate"
fi
export PYTHONPATH="$PWD/.tasks:$PYTHONPATH"

# user local
PATH_add "$HOME/.local/bin"

# asdf
# This allows you to just install direnv, then direnv allow,
# to install the other plugins
if [[ -e ".asdf.plugins" ]]; then
    echo "Adding ASDF Plugins"
    while read -r pname url; do
        if [[ -n "$pname" ]]; then
            asdf plugin add "$pname" "${url:-}"
        fi
    done < ".asdf.plugins"
fi
asdf install
asdf reshim

# For JVM setup
source "$SDKMAN_DIR/bin/sdkman-init.sh"
sdk env > /dev/null

# For Android:
PATH_add "$ANDROID_HOME/cmdline-tools/latest/bin"
PATH_add "$ANDROID_HOME/platform-tools"

# For dotnet
DOTNET_ROOT="$(asdf where dotnet)"
export DOTNET_ROOT
PATH_add "$DOTNET_CLI_HOME/.dotnet/tools"

# latex
PATH_add "$TEXBASE/bin/x86_64-linux"
export TEX_LUA_FILE="$POLYGLOT_ROOT/init.tex.lua"

# for ruby
PATH_add "$(gem environment user_gemhome)/bin"
PATH_add "$(gem environment gemdir)/bin"

# For Ocaml/Rocq:
eval "$(opam env)"

# For repo-local tasks
PATH_add "$PWD/.tasks"

# -- Polyglot Environment Variables for .envrc
export POLYGLOT_ROOT="$PWD"
export POLYGLOT_SRC="$PWD/src"
export POLYGLOT_LOGS="$PWD/logs"
export POLYGLOT_TEMP="$PWD/.temp"
export POLYGLOT_DOCS="$PWD/.temp/docs"
export POLYGLOT_DATA="$PWD/src/_data"
export POLYGLOT_SPHINX_BUILDER="bibhtml"
export POLYGLOT_SPHINX_CONF_DIR="$PWD/src/_sphinx"
# --

# Pre-commit skipping:
# export SKIP=""
