#  .envrc -*- mode: sh -*-
# See https://direnv.net/
# export VAR=VAL
# PATH_add val

# For repo-local tasks
PATH_add "$PWD/.tasks"

# For jacamo
PATH_add "$HOME/.local/bin"
export SDKMAN_DIR="$HOME/_cache_/sdkman"

# For dotnet
PATH_add "$HOME/.local/dotnet"

export DOTNET_ROOT="$HOME/.local/dotnet"
export DOTNET_CLI_HOME="$HOME/_cache_/dotnet"
export DOTNET_BUNDLE_EXTRACT_BASE_DIR="$HOME/_cache_/dotnet/bundle"
