# .tool-versions -*- mode: Conf[Space] -*- 
# https://asdf-vm.com/manage/configuration.html#tool-versions
# https://mise.jdx.dev/dev-tools/
direnv          2.37.1
polyglot        0.3.0
git-cliff       1.4.0
git-lfs         3.7.1
rust            1.91.1
uv              0.9.28
pre-commit      4.5.1

# deno            2.5.6
# dotnet          10.0.102
# sqlite          3.51.2
# opam            2.4.1
# plantuml        1.2025.8
# eask            0.12.9
# elixir          1.18.4-otp-26
# erlang          28.2
# texlive         2025

# ceptre          prerelease
# godot           4.6_mono
# ktlint          1.7.1
# ocaml           5.3.0
# opa             1.10.0
# pandoc          3.8
# soar            9.6.4
# swiprolog       9.2.9
# yt-dlp          2025.09.26
# fstar           2025.12.15
# ghidra          Ghidra_12.0_build
# isabelle        2025
# shellcheck      0.11.0
# tlaplus         1.8.0

# Extra, non-asdf
# docfx           3.78.3+850a61c2ecb83b0bda21448f1393e480934556fd
# cocq            4.14.1
# isort           6.0.1
# mdbook          0.4.48
# sdkman          5.18.2
# csound          6.18
# graphviz        2.43.0
# clips           6.30
